<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <p>Este es un blog creado por Melina y Pablo como entrega final del curso de python de coder house</p>
    <p>Puedes saber mas de cada uno aqui:</p>
    <a href="{% url 'melina' %}"> About Melina</a>
    <a href="{% url 'pablo' %}">Ablut Pablo</a>
    <p></p>
    <a href="{% url 'home' %}">Volver al blog</a>
</body>
</html>