<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melina</title>
</head>
<body>
    <p>Mi nombre es Melina Tarquini, tengo 23 años y soy de Córdoba, Argentina. Estoy en el último año de Ingeniería Industrial y soy pasante del área de Compras en una automotriz. Comencé el curso sin saber nada de programación, y lo hice con el objetivo de complementar mi carrera y a su vez porque me entusiasma la idea de programar. Junto con mi compañero hicimos la entrega final, la cual se trata de un blog donde los usuarios pueden crear y editar sus blogs. Yo me encargué principalmente de la aplicación users, creando las vistas, urls, modelos y templates.   </p>
    <a href="{% url 'about' %}">volver</a>
</body>
</html>