<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pablo</title>
</head>
<body>
    <p>Me llamo Pablo Bejarano, tengo 27 años y soy de Bogotá Colombia, soy ingeniero en automatización industrial y actualmente trabajo como ingeniero DevOps especializado en la nube de AWS en Globant, decidí iniciar el curso de Python porque tenía el deseo de entender el lenguaje para poder aplicarlo en mi dia a dia como devops y poder automatizar tareas, encontré en el curso algo nuevo para mí como es el desarrollo web lo cual me parece interesante y género en mi muchas más dudas y deseos de aprender todo lo que se puede hacer con Python</p>
    <a href="{% url 'about' %}">volver</a>
</body>
</html>