<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <ul>
      <li> Nombre: {{ user.first_name }}</li>
      <li> Apellido: {{ user.last_name }}</li>
      <li> Usuario: {{ user.username }}</li>
      <li> Email: {{ user.email }}</li>
      <li> fecha de creacion: {{ user.date_joined }}</li>
      <li> ultima entrada: {{ user.last_login }}</li>
  </ul>

  <img height="128" src="{{ user.avatar_set.first.image.url }}"></img>
  <a href="{% url 'home' %}">volver</a>
  <a href="{% url 'editar' user.id %}">editar</a>
  <a href="{% url 'cargar_avatar' user.id %}">Cargar/editar avatar</a>
</body>
</html>