<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalle blog</title>
</head>
<body>
    <h1 style="text-align: center;"><strong><i>{{ blog.titulo }}</i></strong></h1>
    <p><strong>Descripcion</strong></p>
    <p><i>{{ blog.descripcion }}</i></p>
    <p><strong>Contenido</strong></p>
    <p><i>{{ blog.contenido }}</i></p> 
    <img height="400" src="{{ blog.image.url }}"></img>
    <p>Autor del blog: <i>{{ blog.autor }}</i> </p>
    <p>Fecha de creacion: <i>{{ blog.fecha_creacion }}</i> </p>
    {% if user.is_authenticated %}
        <a href="{% url 'listar' %}">Blogs</a>
        <a href="{% url 'actualizar' blog.id %}">editar</a>
        <a href="{% url 'borrar' blog.id %}">borrar</a>
    {% else %}
        <a href="{% url 'listar' %}">Blogs</a>
    {% endif %}
</body>
</html>